<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="public/styles/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Motivation</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <!--Favicons-->
    <link rel="apple-touch-icon" href="/docs/5.3/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
    
</head>
<!--SideBar-->
<body class="text-light" style="background-color: rgb(34,34,34); font-family: 'Roboto Condensed', sans-serif;">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="position: fixed; height: 100vh; width: 230px;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <img src="public/imgs/kotlin.png" style="max-height: 80%; height: 50px;" alt="Sigma Logo">
            <span class="text-light" style="font-size: 1.5rem; font-weight: bold; color: #333;">KOTLINRUSH</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <a href="#" class="nav-link active" aria-current="page">
                <svg width="20px" height="20px" viewBox="0 0 64 64" data-name="Material Expand" id="Material_Expand" xmlns="http://www.w3.org/2000/svg"><path d="M56,2H8A6.006,6.006,0,0,0,2,8V42a6.006,6.006,0,0,0,6,6H21.764l-3,6H14a2,2,0,0,0-2,2v6h4V58H48v4h4V56a2,2,0,0,0-2-2H45.236l-3-6H56a6.006,6.006,0,0,0,6-6V8A6.006,6.006,0,0,0,56,2ZM8,6H56a2,2,0,0,1,2,2V36H6V8A2,2,0,0,1,8,6ZM40.764,54H23.236l3-6H37.764ZM56,44H8a2,2,0,0,1-2-2V40H58v2A2,2,0,0,1,56,44Z"/><rect height="4" width="22" x="32" y="11"/></svg>
              Course
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
                <svg width="20px" height="20px" viewBox="0 0 512 512" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path d="M185.469407,39.207713 L356.136074,39.207713 L356.136074,81.8743797 L185.469407,81.8743797 L185.469407,39.207713 Z M185.469407,188.541046 L356.136074,188.541046 L356.136074,231.207713 L185.469407,231.207713 L185.469407,188.541046 Z M14.8027404,295.207713 L121.469407,295.207713 L121.469407,401.87438 L14.8027404,401.87438 L14.8027404,295.207713 Z M46.8027404,327.207713 L46.8027404,369.87438 L89.4694071,369.87438 L89.4694071,327.207713 L46.8027404,327.207713 Z M185.469407,337.87438 L356.136074,337.87438 L356.136074,380.541046 L185.469407,380.541046 L185.469407,337.87438 Z M119.285384,-7.10542736e-15 L144.649352,19.5107443 L68.6167605,118.353113 L1.42108547e-14,58.3134476 L21.0721475,34.2309934 L64.0400737,71.8050464 L119.285384,-7.10542736e-15 Z M119.285384,149.333333 L144.649352,168.844078 L68.6167605,267.686446 L1.42108547e-14,207.646781 L21.0721475,183.564327 L64.0400737,221.13838 L119.285384,149.333333 Z"></path>
                </svg>
              Tasks
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
                <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zM7.92 9.234v.102a.5.5 0 0 0 .5.5h.997a.499.499 0 0 0 .499-.499c0-1.29.998-1.979 2.34-1.979 1.308 0 2.168.689 2.168 1.67 0 .928-.482 1.359-1.686 1.91l-.344.154C11.379 11.54 11 12.21 11 13.381v.119a.5.5 0 0 0 .5.5h.997a.499.499 0 0 0 .499-.499c0-.516.138-.723.55-.912l.345-.155c1.445-.654 2.529-1.514 2.529-3.39v-.103c0-1.978-1.72-3.441-4.164-3.441-2.478 0-4.336 1.428-4.336 3.734zm2.58 7.757c0 .867.659 1.509 1.491 1.509.85 0 1.509-.642 1.509-1.509 0-.867-.659-1.491-1.509-1.491-.832 0-1.491.624-1.491 1.491z" fill="#000000"/></svg>
              Help
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
                <svg width="30px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3 9H21M7 3V5M17 3V5M10 14L12 12M12 12L14 14M12 12V18M6.2 21H17.8C18.9201 21 19.4802 21 19.908 20.782C20.2843 20.5903 20.5903 20.2843 20.782 19.908C21 19.4802 21 18.9201 21 17.8V8.2C21 7.07989 21 6.51984 20.782 6.09202C20.5903 5.71569 20.2843 5.40973 19.908 5.21799C19.4802 5 18.9201 5 17.8 5H6.2C5.0799 5 4.51984 5 4.09202 5.21799C3.71569 5.40973 3.40973 5.71569 3.21799 6.09202C3 6.51984 3 7.07989 3 8.2V17.8C3 18.9201 3 19.4802 3.21799 19.908C3.40973 20.2843 3.71569 20.5903 4.09202 20.782C4.51984 21 5.07989 21 6.2 21Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
              Reminder
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
                <svg width="30px" height="24px" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                    <title>comment-forum-solid</title>
                    <g id="Layer_2" data-name="Layer 2">
                      <g id="invisible_box" data-name="invisible box">
                        <rect width="48" height="48" fill="none"/>
                      </g>
                      <g id="icons_Q2" data-name="icons Q2">
                        <path d="M31.9,6H4.1A2,2,0,0,0,2,8V36a1,1,0,0,0,1,1,1.3,1.3,0,0,0,.8-.3L13,28H31.9A2,2,0,0,0,34,26V8a2,2,0,0,0-2.1-2Z"/>
                        <path d="M43.9,15H38V32H14v3a2,2,0,0,0,2.1,2H35l9.2,8.7a1.3,1.3,0,0,0,.8.3,1,1,0,0,0,1-1V17A2,2,0,0,0,43.9,15Z"/>
                      </g>
                    </g>
                  </svg>
              Forum
            </a>
          </li>
        </ul>
        <hr>
        <div class="dropdown">
          <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong>mdo</strong>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </div>
      </div>
<!--Nav-->
<div class="container" style="margin-left: 250px; padding-top: 100px;">
  <h1 class="text-center text-light">Quest Map</h1>
  <div class="row row-cols-3 row-cols-md-3 g-4">
      <div class="col-4">
          <div class="card bg-dark text-white h-100">
              <img src="public/imgs/courseIn.png" class="card-img-top" alt="Course 1">
              <div class="card-body">
                  <h5 class="card-title">Kotlin Syntax</h5>
                  <p class="card-text">This is a collection of basic syntax elements with examples. At the end of every section, you'll find a link to a detailed description of the related topic.

                    You can also learn all the Kotlin essentials with the free Kotlin Core track by JetBrains Academy.</p>
                  <a href="#" class="btn btn-primary">Подробнее</a>
              </div>
          </div>
      </div>
      <div class="col-4">
          <div class="card bg-dark text-white h-100">
              <img src="public/imgs/course2.jpg" class="card-img-top" alt="Course 2">
              <div class="card-body">
                  <h5 class="card-title">Разработка Android</h5>
                  <p class="card-text">Освойте разработку Android-приложений с использованием Kotlin.</p>
                  <a href="#" class="btn btn-primary">Подробнее</a>
              </div>
          </div>
      </div>
      <div class="col-4">
          <div class="card bg-dark text-white h-100">
              <img src="public/imgs/course3.jpg" class="card-img-top" alt="Course 3">
              <div class="card-body">
                  <h5 class="card-title">Корутин в Kotlin</h5>
                  <p class="card-text">Узнайте, как эффективно работать с асинхронными задачами с помощью корутин.</p>
                  <a href="#" class="btn btn-primary">Подробнее</a>
              </div>
          </div>
      </div>
  </div>
</div>

</body>
</html>
